body {
  font-family: 'Puritan', sans-serif;
  font-weight: 800;
  color:#eeeef6;
  margin: 0;
}

a {
  text-decoration: none;
  color: #e9eaf6;
}

label {
  display: block;
}

/*------------------  NAVBAR START  -------------- */
.nav_bar {
  display: flex;
  justify-content:space-around;
  width: 100%;
  height: 15vh;
  background-color: rgb(18, 18, 31);
}

.nav_bar h1 {
  color: #eeeef6;
  font-family: 'Dela Gothic One', cursive;
  margin: 10px;
}
nav {
  display: flex;
  align-items: center;
}
nav a {
  font-size: 1.3rem;
  display: inline-block;
  margin: 1em;
  color: #e9eaf6;
}

nav a:hover {
  color: rgb(212, 26, 240);
}
/*------------------  NAVBAR END  -------------- */


/*------------------  HEADER START  -------------- */
.home_header {
  margin-top: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
   width: 90%;
   height: 35vh;
   background-image: url('./graceshopperheader.png');
   background-size: cover;
}
.home_header h2 {
  background-color: rgb(255, 12, 12);
  padding: .5rem 1.5rem;
  color: #fbfbfc;
}
/*------------------  HEADER END  -------------- */


/*------------------  HOME PRODUCTS START  -------------- */
.home_products {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0 1rem 0;
  width: 92%;
}
/*------------------  HOME PRODUCTS END  -------------- */


/*------------------  HOME / GUESS HOME CONTAINER START  -------------- */
.homecontainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  background-color: #f3f3fb;
}



/*------------------  HOME / GUESS HOME CONTAINER END  -------------- */


/*------------------  PRODUCT START  -------------- */

.product_container {
  display: flex;
  justify-items: center;
  align-items: center;
  color: rgb(48, 48, 48);
}

#product-list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  padding: 2rem;
  width: 90%;
}
.posters_product {
  display: flex;
  flex-direction: column;
  margin: 1.2rem;
  padding: 1.2rem;
  width: 200px;
  background-color: rgb(216, 222, 230);
  border-radius: 1rem;
  flex-grow: 3;
}
.product-image {
  display: flex;
  width: 100%;
}
#products {
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: beige;
  height: 300px;
  width: 300px;
  background-image: url("batman.jpeg");
  background-size: 300px;
}
/*------------------  PRODUCT END  -------------- */

/*------------------  SINGLE PRODUCT START  -------------- */
.singleProduct_container {
  display: flex;
  align-items: center;
  justify-content:center;
  width: 100%;
  height: 80vh;
  background-color:rgb(255, 255, 255);
}
.singleProduct_image{
  display: flex;
  width: 30%;
}

.singleProduct_image img{
  max-width: 250px;
}

.SingleProduct_info {
  color: rgb(48, 48, 48);
  display: flex;
  flex-direction: column;
  padding-left: .5rem;
  width: 30%;
  background-color:rgb(253, 255, 255)
}

.SingleProduct_info-productName{
  font-size: 2.3rem;
}
.addToCard_button {
  font-size: 1rem;
  border: none;
  color: white;
  background-color: rgb(82, 2, 179);
  padding: .5rem;
  margin: 2rem;
}
.addToCard_button:hover {
  background-color: rgb(14, 210, 213);
  cursor: pointer;
}

.singleProduct_info-goToCart {
  font-size: 1rem;
  border: none;
  color: white;
  background-color: rgb(154, 183, 13);
  padding: .5rem;
  margin: 2rem;
}


.singleProduct_info-goToCart:hover {
  background-color: rgb(213, 206, 14);
  cursor: pointer;
}
/*------------------  SINGLE PRODUCT END  -------------- */









/*------------- cart styles start --------------*/
.cart {
  color: rgb(30, 30, 30);
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-color: rgb(216, 216, 216);
  width: 100%;
  height: 700px;
}

.cart_product {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  width: 50%;
  height: auto;
  background-color: rgb(251, 251, 251);
  margin: 10px;
}

.cart_image {
  width: 130px;
  height: 130px;
  background-color: darkviolet;
}

.cart_item_info {
  width: 80%;
  padding: 15px;
}

.cart_item_qty {
  width: 100%;
}
.cartFooter {
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: gold;
  width: 53%;
  height: 70px;
}

/*------------- cart styles end --------------*/


.checkout {
  color: rgb(48, 48, 48);
  display: flex;
  justify-content: center;
}


form div {
  margin: 1em;
  display: inline-block;
}








/*------------------  FOOTER START  -------------- */
.footer {
  display: flex;
  justify-content:space-around;
  align-items: center;
  width: 100%;
  height: 15vh;
  background-color: rgb(18, 18, 31);
}

.footer a {
  color: #e9eaf6;
}
.footer a:hover {
  color: rgb(212, 26, 240);
}
/*------------------  FOOTER START  -------------- */

@media only screen and (max-width: 600px) {
  /*------------------  SINGLE POSTER START  -------------- */
.singlePoster_container {
  display: flex;
  align-items: center;
  justify-content:center;
  width: 100%;
  height: 80vh;
  background-color:rgb(255, 255, 255);
}
.singlePoster_image {
  display: flex;
  width: 50%;
  height: 200px;
}
.SinglePoster_info {
  color: rgb(48, 48, 48);
  display: flex;
  width: 50%;
  flex-direction: column;
  padding-left: .5rem;
  height: 200px;
  background-color:rgb(253, 255, 255)
}

.SinglePoster_info-productName{
  font-size: 2.3rem;
}
.addToCard_button {
  font-size: 1rem;
  border: none;
  color: white;
  background-color: rgb(82, 2, 179);
  padding: .5rem;
  margin: 2rem;
}
.addToCard_button:hover {
  background-color: rgb(14, 210, 213);
  cursor: pointer;
}

.singlePoster_info-goToCart {
  font-size: 1rem;
  border: none;
  color: white;
  background-color: rgb(154, 183, 13);
  padding: .5rem;
  margin: 2rem;
}


.singlePoster_info-goToCart:hover {
  background-color: rgb(213, 206, 14);
  cursor: pointer;
}
/*------------------  SINGLE POSTER END  -------------- */
}



